.App {
  background: #fefefe;
  height: 100vh;
}

.navbar {
  margin-bottom: 3rem;
  background: #c41200;
}

.navbar-brand {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.5rem;
  margin-left: -1rem;
}

.card {
  padding: 1rem;
  max-width: 18rem;
  box-shadow: 5px 5px #888888;
  margin: 1rem;
}
#restaurant-list-col {
  margin-left: 2rem;
}

#restaurant-list-label {
  margin-left: 1rem;
  margin-bottom: 2rem;
}